<div class="about-section bg-popColor d-flex justify-content-center align-items-center">
  <div class="about-content text-white d-flex flex-column align-items-center justify-content-center">
    <h3 class="section-title">about section</h3>
    <div class="line-decorator d-flex align-items-center text-white my-2">
      <div class="line"></div>
      <i class="fas fa-star"></i>
      <div class="line"></div>
    </div>
    <div class="container d-flex">
      <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
        including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
      <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files
        including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
    </div>
  </div>
</div>
