<div class="container-fluid px-4 bg-colorSec">
  <div class="footer row d-flex justify-content-center gy-4">
    <div class="col-md-4">
      <div class="footer-card d-flex flex-column align-items-center">
        <h3 class="footer-title">location</h3>
        <p>2215 John Daniel Drive</p>
        <p>Clark, MO 65243</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="footer-card d-flex flex-column align-items-center">
        <h3 class="footer-title">around the web</h3>
        <div class="social-media">
          <i class="fab fa-facebook"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fa-solid fa-globe"></i>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="footer-card d-flex flex-column align-items-center">
        <h3 class="footer-title">about freelancer</h3>
        <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
      </div>
    </div>
  </div>
</div>
<div class="bg-colorDark text-white text-center p-4">
  <p>Copyright © Your Website 2021</p>
</div>
